# .env.example
VITE_FCM_VAPID_KEY=
VITE_APP_URL=https://digivasity.com
VITE_ADSENSE_PUB_ID=ca-pub-4188538911412591
GEMINI_API_KEY=
VITE_GEMINI_BACKEND_URL=
APP_PUBLIC_ORIGIN=
PUSH_API_SECRET=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=digivasitydb
APPWRITE_STORAGE_BUCKET_ID=digivasity_storage
APPWRITE_USERS_COLLECTION_ID=users
APPWRITE_NEWS_COLLECTION_ID=news
APPWRITE_NOTIFICATIONS_COLLECTION_ID=notifications
VITE_APPWRITE_NEWS_NOTIFIER_FUNCTION_ID=
